@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  html.dark {
    background-color: theme(colors.darkMode.darkBlue);
  }

  html.light {
    background-color: theme(colors.blue);
  }

  img {
    width: auto;
  }

  .custom-table-wrapper.loading > div {    
    max-width: 100%;
    width: 100%;
  }

  .custom-table-wrapper > div > div {
    overflow: visible !important;    
    padding: 0;
  }

  .custom-table-wrapper > div > div {
    border-radius: 0;
  }

  .custom-table-wrapper.loading > div > div {   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    height: 300px;
  }

  .dark .custom-table-wrapper > div > div {
    background-color: theme(colors.darkMode.mediumGray);
  }

  .light .custom-table-wrapper > div > div {
    background-color: theme(colors.white);    
  }

  .custom-table-wrapper > div > div > table > thead > tr:last-of-type {
    display: none;
  }

  .dark .custom-table-wrapper > div > div > table > thead > tr:first-of-type > th {
    background-color: theme(colors.darkMode.darkGray);
  }

  .light .custom-table-wrapper > div > div > table > thead > tr:first-of-type > th {
    background-color: theme(colors.lightMode.lightGray);
  }
  
  .custom-table-wrapper > div > div > table > thead > tr:first-of-type > th:first-of-type {
    border-radius: 0;
  }

  .custom-table-wrapper > div > div > table > thead > tr:first-of-type > th:last-of-type {
    border-radius: 0;
  }
  
  .custom-table-wrapper > div > div > table > thead > tr:first-of-type > th:hover > .stats-info {    
    display: block;    
  }
}

@layer components {
  .white-underline {        
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0; 
      width: 0;     
      height: 3px;
      background-color: theme(colors.white);
      transition: width .15s ease-in-out;
    }

    &:hover::before {
      width: theme(width.full);
    }
  }

  .border-bottom-theme {
    border-bottom: 1px solid;
  }

  .dark .border-bottom-theme {
    border-bottom-color: theme(colors.darkMode.darkBlue);
  }

  .light .border-bottom-theme {
    border-bottom-color: theme(colors.lightMode.lighterGray);
  }

  .level {
    font-size: theme(fontSize.xs);
    color: theme(colors.white);
    background-color: #202d37;
    border-radius: theme(borderRadius.xl);
    padding: 0.1rem theme(padding.2);
  }

  .table-cell {
    text-align: center !important;
    font-size: theme(fontSize.xs) !important;        
  }

  .dark .table-cell {
    color: theme(colors.darkMode.lighterGray);
  }

  .light .table-cell {
    color: theme(colors.lightMode.secondMediumGray);
  }

  .table-cell-hover-bg {
    @apply transition-colors group-hover:bg-lightMode-lightGray dark:group-hover:bg-darkMode-darkGray;  
  }

  .rounded-image {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    aspect-ratio: 1 / 1;    
  }
}

@layer utilities {
  .text-xss {
    font-size: 0.6875rem !important; /* 11px */
    line-height: 10px;
  }

  .scrollbar-width-thin {
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}