@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.dark {
    background-color: theme(colors.darkMode.darkBlue);
  }

  html.light {
    background-color: theme(colors.blue);
  }

  img {
    width: auto;
  }
}

@layer components {
  .white-underline {        
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0; 
      width: 0;     
      height: 3px;
      background-color: theme(colors.white);
      transition: width .15s ease-in-out;
    }

    &:hover::before {
      width: theme(width.full);
    }
  }

  .border-bottom-theme {
    @apply border-b border-b-lightMode-lighterGray dark:border-b-darkMode-darkBlue;
  }

  .level {
    font-size: theme(fontSize.xs);
    color: theme(colors.white);
    background-color: #202d37;
    border-radius: theme(borderRadius.xl);
    padding: 0.1rem theme(padding.2);
  }
}