@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    width: auto;
  }
}

@layer components {
  .white-underline {        
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0; 
      width: 0;     
      height: 3px;
      background-color: theme(colors.white);
      transition: width .15s ease-in-out;
    }

    &:hover::before {
      width: theme(width.full);
    }
  }

  .border-bottom-theme {
    @apply border-b border-b-lightMode-lighterGray dark:border-b-darkMode-darkBlue;
  }
}